
<%= form_with(model: @blog, local: true, html: { class: "image-form" }) do |form| %>
  <label for="blog_image">Upload Image:</label>
  <%= form.file_field :image %>
  <%= form.submit 'Upload Image' %>
<% end %>
